body{
    font-family: 'Open Sans', sans-serif;
}
 /* Nav section code start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    color: var(--dark-02, #474747);
    font-size: 20px;
    font-weight: 400;
}
.nav-logo{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    cursor: pointer;
}
span{
    color: #FD6E0A;
}
/* nav section code end */

.primary-btn{
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-size: 18px;
    font-weight: 700;
    /* padding: 18px 35px; */
    box-shadow: 2px 2px 2px gray;
    border: none;
    cursor: pointer;
}
/* nav section code end */

/* Header section code Start  */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner-btn{
    width: 150px;
    margin-right: 10px;
}
.banner-img{
    width: 500px;
}

.banner-content h3{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-heading{
    font-size: 60px;
    color: var(--dark-01, #181818);
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-title{
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    /* font-weight: 400; */
    /* line-height: 30px; */
}

/* Header section code end  */

/* About section code start  */

.about-section{
    /* width: 1140px; */
    /* height: 550px; */
    margin: 130px 0px;
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 130px;
}
.about-heading{
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    margin-top: 131px;
}
.about-description{
    color: var(--dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}